{{#each pet}}
	<a href="/PetFinder/viewpet?id={{id}}" target="_blank">
	<div class="mini-pet-record" style="display:inline-block;border:1px solid black">
		<img src="{{media.photos.photo.1.value}}" /><br/>
		{{name}}<br/>
		{{formatSize size}} {{formatAge age}} {{formatSex sex}}
	</div>
	</a>
{{/each}}